.Transaction{
    flex: 4;
    box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.77);
   -webkit-box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.77);
   -moz-box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.77);
   padding: 20px;
   margin-right: 20px;
   height: 400px;
}

.Ttitle{
    font-size: 22px;
    font-weight: 600;
}
.Ttable{
    width: 100%;
    border-spacing: 20px;
}
.Tth{
    text-align: left;
}
.Tuser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.Tdate , .Tamount{
 font-weight: 300;
}

.Timage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.Tbtn{
padding: 5px 7px;
border: none;
border-radius: 10px;

}
.Tbtn.Approved{
    background-color: rgb(181, 248, 181);
    color: green;
}
.Tbtn.Declined{
    background-color: #f7b0b4;
    color: red;
}
.Tbtn.Panding{
    background-color: #b6c7ee;
    color: #718fcf;
}