.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: white;
    color: white;
    position: sticky;
    top: 50;
}
.sidebarwrapper{
    color: #555;
    padding: 20px;
}
.sidebarmenu{
    margin-bottom: 10px;
}
.sidebartitle{
    font-size: 13px;
    color: rgb(167, 163, 163);
}
.sidebarlist{
    list-style: none;
    padding: 5px;
}
.listItem{
    padding: 5px;
    cursor: pointer;
    display: flex; 
    align-items: center;
    border-radius: 10px;
}
.listItem.active,
.listItem:hover{
    background-color: rgb(227, 227, 241) ;
}
.sidebaricon{
    margin-right: 5px;
    font-size: 20px !important;
}